<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AlmostAuto" verbose="1" >

    <test name="Test" >

        <classes>
            <class name = "mainScript" />

            <parameter name="login" value="Atmel13@gmail.com"/>
            <parameter name="login2" value="lykvymolly21@gmail.com"/>
            <parameter name="password" value="rtm0846058834"/>
            <parameter name="password2" value="Great123"/>
            <parameter name="HRPath" value="HR.xls"/>

        </classes>
    </test>





    <!--Prepare test for firefox and IE browsers-->

</suite>